<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <!-- Include Tailwind CSS CDN -->
    <link rel="icon" type="image/png" href="media/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        // Function to show the project description
        function showDescription(name,description) {


        //   const description = "Our web application is designed to help you identify and filter out spam SMS and emails from your inbox. The model has a Precision Rate of 100% and an Accuracy Score of 97%. We used Multinomial Naive Bayes for the algorithm and built and deployed the model on Flask. We're also sharing its public API for anyone interested in trying it out.";
      
         
          swal(name,description);

        }
 
      </script>
      
</head>
<body class="bg-black text-gray-200">

    <!-- Centered content -->
    <div class="pt-12 sm:pt-16 lg:pt-20">
        <div class="flex items-center justify-center min-h-screen">

        <!-- Resume container -->
        <div class="container mx-auto p-4">

            <!-- Header section -->
            <header class="text-center">
                <h2 class="text-4xl font-extrabold text-gray-200 sm:text-5xl lg:text-6xl">
                    Hi, I'm Ankit!
                </h2>
                <p class="mt-4 text-lg text-gray-200 md:leading-relaxed md:text-[23px] md:mt-8">
                    I'm a Machine Learning Engineer & a Full Stack Developer. I can help you in building and scaling software. 
                </p>
                <div class="mx-auto py-8 px-6 md:flex md:items-center md:justify-between lg:px-8">
                    <div class="flex justify-center space-x-6 md:order-2 mx-auto">
                        <a class="text-gray-200 hover:text-black" href="https://twitter.com/ankitmishralive">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                class="w-8 h-8"><!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                                <path fill="currentColor"
                                    d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z" />
                            </svg>

                        </a>
                        <a class="text-gray-200 hover:text-black" href="https://www.linkedin.com/in/ankitmishralive/">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                                class="w-8 h-8"><!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                                <path fill="currentColor"
                                    d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z" />
                            </svg>

                        </a>

                    </div>
            </header>


            
            <div class="max-w-5xl mx-auto px-4 lg:px-8 py-8 lg:py-12 bg-[#ecf3ff] bg-blue-100">
                <div class="">
                    <h2 class="text-2xl font-extrabold text-gray-800 text-center md:text-4xl ">
                        
                        Strap in, because this is where creativity takes the front seat
                    </h2>
                   
                </div>
            </div>


            <section class="text-gray-600 body-font overflow-hidden">
                <div class="container px-5 py-24 ">
                    <h1 class="text-3xl font-medium text-gray-200 title-font mb-2">Education</h1>
                    <br>
                    <div class="-my-8 divide-y-2 divide-gray-100">
                        <div class="py-8 flex flex-wrap md:flex-nowrap">
                            <div class="md:flex-grow">
                                <h2 class="text-xl font-medium text-gray-200 title-font mb-2">Btech in Artificial Intelligence & Machine Learning</h2>
                                <p class="leading-relaxed text-gray-300">Thakur College of Engineering & Technology</p>
                                <p class="leading-relaxed text-gray-300">2022 - 2025</p>
                                <p class="leading-relaxed text-gray-300">CGPA: 9.66 </p>
                                <a class="text-indigo-500 inline-flex items-center mt-4" href="https://www.tcetmumbai.in/" target="_blank" >Visit
                                    <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path d="M5 12h14"></path>
                                        <path d="M12 5l7 7-7 7"></path>
                                    </svg>
                                </a>
                            </div>
                        </div>
            
                        <div class="py-4 flex flex-wrap md:flex-nowrap">
                            <div class="md:flex-grow">
                                <h2 class="text-xl font-medium text-gray-200 title-font mb-2">Diploma in Computer Science Engineering</h2>
                                <p class="leading-relaxed text-gray-300">S.H Jondhale Polytechnic</p>
                                <p class="leading-relaxed text-gray-300">2019 - 2022</p>
                                <p class="leading-relaxed text-gray-300">Percentage: 87% </p>
                                <a class="text-indigo-500 inline-flex items-center mt-4" href="http://jondhalepolytechnic.org/" target="_blank">Visit
                                    <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path d="M5 12h14"></path>
                                        <path d="M12 5l7 7-7 7"></path>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
  
          
    
              <section class="text-gray-600 body-font overflow-hidden">

       

                <div class="container px-5 py-24 ">
                    <h1 class="text-3xl font-medium text-gray-200 title-font mb-2" >Experience </h1>
                    <br> <br>
                  <div class="flex flex-wrap -m-12">
           
                    <div class="p-12 md:w-1/2 flex flex-col items-start">
                  
                      <span class="inline-block py-3 px-3 rounded bg-indigo-50 text-indigo-500 text-lg font-medium tracking-widest">TCET Opensource</span>
                      <h2 class="sm:text-3xl text-2xl title-font font-medium text-gray-300 mt-4 mb-4">L4 - ML Engineer</h2>
                      <h2 class="sm:text-sm text-sm title-font font-medium text-gray-300 mt-4 mb-4"> July 2023 - Current  | Hybrid | Mumbai </h2>
       
                      <p class="leading-relaxed mb-8 text-gray-400">                       
                        Worked with Huggingface pretrained models for review & comment sentiments. <br>
Contributed & Solved the functionality issue of Resume Screener Web Application by creating a LinkedIn Profile Scrapper & Analyzer Function.  </p>        
                        <div class="flex items-center flex-wrap pb-4 mb-4 border-b-2 border-gray-100 mt-auto w-full"> 
                        <a href="https://github.com/tcet-opensource" target="_blank"  class="text-indigo-500 inline-flex items-center"> Link 
                          <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M1 12h14"></path>
                            <path d="M1 5l7 7-7 7"></path>
                          </svg>
                        </a>
                      </div>
                 
                    </div>


                    <div class="p-12 md:w-1/2 flex flex-col items-start">
                        <span class="inline-block py-3 px-3 rounded bg-indigo-50 text-indigo-500 text-lg font-medium tracking-widest">Verbient Technologies Private Ltd.</span>
                        <h2 class="sm:text-3xl text-2xl title-font font-medium text-gray-300 mt-4 mb-4">Full Stack Web Developer Intern</h2>
                        <h2 class="sm:text-sm text-sm title-font font-medium text-gray-300 mt-4 mb-4"> Nov 2022 - Apr 2023 |  Remote | Jaipur </h2>

                        <p class="leading-relaxed mb-8 text-gray-400">                       
                            Worked on PHP & MySQL for building robust backend systems. <br>
                            Developed interactive user interfaces using JavaScript, HTML, CSS & Bootstrap. <br>
                            Enhanced user interactions and implemented business logic. <br>
                            Implemented client-side validation and data manipulation.      <br>    </p>    
                          <div class="flex items-center flex-wrap pb-4 mb-4 border-b-2 border-gray-100 mt-auto w-full">
                          <a href="https://www.linkedin.com/company/verbient/" target="_blank"  class="text-indigo-500 inline-flex items-center">Link
                            <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                              <path d="M1 12h14"></path>
                              <path d="M1 5l7 7-7 7"></path>
                            </svg>
                          </a>                     
                        </div>
        
                      </div>

                

                      <div class="p-12 md:w-1/2 flex flex-col items-start">
                        <span class="inline-block py-3 px-3 rounded bg-indigo-50 text-indigo-500 text-lg font-medium tracking-widest">Universe Simplified</span>.</span>
                        <h2 class="sm:text-3xl text-2xl title-font font-medium text-gray-300 mt-4 mb-4">Programming Instructor</h2>
                        <h2 class="sm:text-sm text-sm title-font font-medium text-gray-300 mt-4 mb-4">  Nov 2022 - Mar 2023 |  Remote | Mumbai</h2>
                        <p class="leading-relaxed mb-8 text-gray-400">                       
                            I had the privilege of teaching Python programming in the USF STEM Fellowship program. <br>
                      It was a gratifying experience to provide all these enthusiastic learners with the knowledge and skills
                      necessary to excel in the field of programming.   </p>    
                          <div class="flex items-center flex-wrap pb-4 mb-4 border-b-2 border-gray-100 mt-auto w-full">
                          <a href="https://universesimplified.org/" target="_blank" class="text-indigo-500 inline-flex items-center">Link
                            <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                              <path d="M5 12h14"></path>
                              <path d="M12 5l7 7-7 7"></path>
                            </svg>
                          </a>                     
                        </div>
                 
                      </div>
             

                      <div class="p-12 md:w-1/2 flex flex-col items-start">
                        <span class="inline-block py-3 px-3 rounded bg-indigo-50 text-indigo-500 text-lg font-medium tracking-widest"> Ignitech</span>.</span>
                        <h2 class="sm:text-3xl text-2xl title-font font-medium text-gray-300 mt-4 mb-4">Machine Learning Summer Internship & Trainee</h2>
                        <h2 class="sm:text-sm text-sm title-font font-medium text-gray-300 mt-4 mb-4">  Aug 2021 - Sep 2021 | Remote | Mumbai  </h2>
                        <p class="leading-relaxed mb-8 text-gray-400">                       
                            Developed a Gender classifier ML Model, utilizing a dataset of over 1 lakh rows, and implemented the Naive Bayes algorithm for accurate predictions.
                            Integrated the Gender classifier ML Model into a web application, leveraging HTML, Bootstrap, and Flask for the frontend and backend development. </p>    
                          <div class="flex items-center flex-wrap pb-4 mb-4 border-b-2 border-gray-100 mt-auto w-full">
                          <a href="https://ignitech.in/"  target="_blank" class="text-indigo-500 inline-flex items-center">Link
                            <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                              <path d="M5 12h14"></path>
                              <path d="M12 5l7 7-7 7"></path>
                            </svg>
                          </a>          

                </div></div>      



        


                        </div>
                    
                      </div>


              </section>


        
              
    <section class="text-gray-600 body-font overflow-hidden">
        <div class="container px-5 py-24 ">
            <div class="flex flex-col text-center w-full mb-20">
                <h2 class="text-2xl font-extrabold text-gray-200 text-center md:text-4xl ">
                    Projects & Research
                </h2>
            <br>
                <p class="lg:w-2/3 mx-auto leading-relaxed text-base text-gray-200">Life's Too Short Not to Laugh at Your Own Errors.</p>
              </div>
            <br>
            <div class="-my-8 divide-y-2 divide-gray-100">
                <div class="py-8 flex flex-wrap md:flex-nowrap">
                    <div class="md:flex-grow">
                        <h2 class="text-xl font-medium text-gray-200 title-font mb-2">SMS Email Spam Detector </h2>
                        <p class="leading-relaxed text-gray-300">Jul 2023 - Aug 2023</p>
                        <p class="leading-relaxed mb-8 text-gray-300">                       
                            Our web application is designed to help you identify and filter out spam sms,messages,emails from your inbox.
                        The Model has Precision Rate of 100% & Accuracy Score of 97%, The Algo i have used is Multinomial Naive Bayes 
                        Build & Deployed model on flask & also Sharing its public API, if anyone is interested in trying out & using the Model they can just hit the API.
                        
                        </p>  
                        <a class="text-indigo-500 inline-flex items-center mt-4" href="https://sms-spamdetector.theankitmishra.live/" target="_blank">Link 
                            <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M5 12h14"></path>
                                <path d="M12 5l7 7-7 7"></path>
                            </svg>
                        </a>
                    </div>
                </div>
                <br>
    
                <div class="-my-8 divide-y-2 divide-gray-100">
                    <div class="py-8 flex flex-wrap md:flex-nowrap">
                        <div class="md:flex-grow">
                            <h2 class="text-xl font-medium text-gray-300 title-font mb-2">Prepost</h2>
                            <p class="leading-relaxed text-gray-200">Jun 2023 - Jul 2023</p>
                            <p class="leading-relaxed mb-8 text-gray-300">                       
                                Prepost will keep you updated with the latest updates of the Globe. It provides real-time updates, news of 30 different categories. 
                                Our app provides a seamless experience for accessing and downloading the most recent content from reliable sources. Whether you're interested in world news, technology updates, business insights, or entertainment news, we've got you covered. 
                                One of the key features of Prepost is the ability for users to download updates in post form or simply copy the text & its Public API's. Check it out right now.
                            
                            </p>  
                            <a class="text-indigo-500 inline-flex items-center mt-4" href="https://www.prepost.neuralberg.com" target="_blank">Link 
                                <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M5 12h14"></path>
                                    <path d="M12 5l7 7-7 7"></path>
                                </svg>
                            </a>
                        </div>
                    </div>

                    
            <br>

            </div>
        



            <div class="-my-8 divide-y-2 divide-gray-100">
                <div class="py-8 flex flex-wrap md:flex-nowrap">
                    <div class="md:flex-grow">
                        <h2 class="text-xl font-medium text-gray-200 title-font mb-2">Demographix: India's Insights Hub</h2>
                        <p class="leading-relaxed text-gray-300">Jun 2023 - Jun 2023</p>
                        <p class="leading-relaxed mb-8 text-gray-300">                       
                            The web app offers a comprehensive collection of data insights through captivating visualization graphs. it provides an array of features, allowing users to explore various aspects of India's demographic landscape. Dive into statistics such as literacy rates, population distribution across different religions,
                             access to the internet and electricity at the district and state levels, demographic data, age group population analysis, and sex ratio trends.
                        </p>  
                        <a class="text-indigo-500 inline-flex items-center mt-4" href="https://demographix.theankitmishra.live/" target="_blank">Link 
                            <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M5 12h14"></path>
                                <path d="M12 5l7 7-7 7"></path>
                            </svg>
                        </a>
                    </div>
                </div>

                
    <br>


                <div class="-my-8 divide-y-2 divide-gray-100">
                <div class="py-8 flex flex-wrap md:flex-nowrap">
                    <div class="md:flex-grow">
                        <h2 class="text-xl font-medium text-gray-200 title-font mb-2">theankitmishra.live</h2>
                        <p class="leading-relaxed text-gray-300">Jan 2023 - Jan 2023</p>
                        <p class="leading-relaxed mb-8 text-gray-300">                       
                            A Personal Blogging Application where i will be covering all my knowledge Created by using Django, Tailwind CSS.    </p>  
                        <a class="text-indigo-500 inline-flex items-center mt-4" href="/" target="_blank">Link 
                            <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M5 12h14"></path>
                                <path d="M12 5l7 7-7 7"></path>
                            </svg>
                        </a>
                    </div>

                

                </div>

                <br>


                <div class="-my-8 divide-y-2 divide-gray-100">
                    <div class="py-8 flex flex-wrap md:flex-nowrap">
                        <div class="md:flex-grow">
                            <h2 class="text-xl font-medium text-gray-200 title-font mb-2"> JSON Formatter </h2>
                            <p class="leading-relaxed text-gray-300">Jul 2022 - Jul 2022</p>
                            <p class="leading-relaxed mb-8 text-gray-300">                       
                                JSON formatter is a free online tool designed to assist users in formatting and beautifying their JSON codes. You can restructure your JSON with this online JSON formatter. 
                                A few clicks on your device will be enough to format your JSON code with this online tool. It is developed using React & Chakra UI technology.
                      </p>  
                            <a class="text-indigo-500 inline-flex items-center mt-4" href="https://json-formatter.surge.sh" target="_blank">Link 
                                <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M5 12h14"></path>
                                    <path d="M12 5l7 7-7 7"></path>
                                </svg>
                            </a>
                        </div>

               

                    </div>

                    <br>

                    <div class="-my-8 divide-y-2 divide-gray-100">
                        <div class="py-8 flex flex-wrap md:flex-nowrap">
                            <div class="md:flex-grow">
                                <h2 class="text-xl font-medium text-gray-200 title-font mb-2"> TXT Formatter </h2>
                                <p class="leading-relaxed text-gray-300">Aug 2022 - Aug 2022</p>
                                <p class="leading-relaxed mb-8 text-gray-300">                       
                                    This tool aims to help you with tasks where text formatting is needed. It's not intended to replace a word processor, but the formatting tools available here can help speed up some jobs which might otherwise be long and repetitive. TXT-formatter can also quickly tell 
                                    you how many words and characters are in your text & it will also tell you the average reading time anyone will take for reading your text. This tool is built using HTML, CSS, Bootstrap & ReactJs.
                          </p>  
                                <a class="text-indigo-500 inline-flex items-center mt-4" href="https://txt-formatter.surge.sh" target="_blank">Link 
                                    <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path d="M5 12h14"></path>
                                        <path d="M12 5l7 7-7 7"></path>
                                    </svg>
                                </a>
                            </div>
    
    
                        </div>

                        
                        <br>


                        <div class="-my-8 divide-y-2 divide-gray-100">
                            <div class="py-8 flex flex-wrap md:flex-nowrap">
                                <div class="md:flex-grow">
                                    <h2 class="text-xl font-medium text-gray-200 title-font mb-2"> Chat Visualizer  </h2>
                                    <p class="leading-relaxed text-gray-300">Dec 2021 - May 2022</p>
                                    <p class="leading-relaxed mb-8  text-gray-300">                       
                                        The ChatVisualizer is a statistical analysis tool for working on the chat files that can be exported. This tool is based on data analysis and processing.
                                        Users can use this tool for analyzing their chats. It is developed using Python technology like Pandas, Numpy, Matplotlib, Flask, Streamlit & as usual front-end technologies HTML, CSS, Bootstrap.
                                    </p>  
                                    <a class="text-indigo-500 inline-flex items-center mt-4" href="/" target="_blank">Link 
                                        <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path d="M5 12h14"></path>
                                            <path d="M12 5l7 7-7 7"></path>
                                        </svg>
                                    </a>
                                </div>
        
                             
        
                            </div>


                            <br>
                            <div class="-my-8 divide-y-2 divide-gray-100">
                                <div class="py-8 flex flex-wrap md:flex-nowrap">
                                    <div class="md:flex-grow">
                                        <h2 class="text-xl font-medium text-gray-200 title-font mb-2"> Stranger ChatRoom </h2>
                                        <p class="leading-relaxed text-gray-300">Apr 2022 - Apr 2022</p>
                                        <p class="leading-relaxed mb-8 text-gray-300">     

                                            Stranger Chatroom is an example of a chat server. This project is a little bit different because in this project there is no login, no sign up. 
                                            The user just has to enter the legal room name, once the user entered & claimed the room name, then it will redirect the user to the chatroom. Where the user can chat & user will require only one thing to do next is the user has to share the URL link with the person they want to have a chat. Stranger Chatroom is developed using HTML, CSS, Bootstrap, JavaScript at the frontend & PHP & MySQL technology at the backend.
                                      
                                        </p>  
                                        <a class="text-indigo-500 inline-flex items-center mt-4" href="https://github.com/Ankkkyyyy/STChatRoom" target="_blank">Link 
                                            <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path d="M5 12h14"></path>
                                                <path d="M12 5l7 7-7 7"></path>
                                            </svg>
                                        </a>
                                    </div>
            
                             
            
                                </div>

                                <br>

                                <div class="-my-8 divide-y-2 divide-gray-100">
                                    <div class="py-8 flex flex-wrap md:flex-nowrap">
                                        <div class="md:flex-grow">
                                            <h2 class="text-xl font-medium text-gray-200 title-font mb-2"> Word Warriors </h2>
                                            <p class="leading-relaxed text-gray-300">Oct 2021 - Oct 2021</p>
                                            <p class="leading-relaxed mb-8 text-gray-300">     
    
                                                The Word Warriors is a typing thrill gaming application made by me. It helped me cover all the general applied JavaScript fundamentals
                                            </p>  
                                            <a class="text-indigo-500 inline-flex items-center mt-4" href="https://word-warriors.surge.sh" target="_blank">Link 
                                                <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path d="M5 12h14"></path>
                                                    <path d="M12 5l7 7-7 7"></path>
                                                </svg>
                                            </a>
                                        </div>
                
                                        <br>
                
                                    </div>
    




            </div>

        </div>
    </section>
      
            <!-- Skills section -->

            <h2>Some Sections & some information about me is still missing, Will Update it soon...</h2>
        
        </div>
    </div>
</div>



<footer class="text-gray-200 body-font">
    <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
      <a href="/admin" class="flex title-font font-medium items-center md:justify-start justify-center text-gray-200">
    
        <span  class="ml-3 text-xl">Ankit Mishra</span>
      </a>
      <p class="text-sm text-gray-100 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2023 Ankit Mishra-
        <a href="https://twitter.com/knyttneve" target="_blank" class="text-gray-200 ml-1" rel="noopener noreferrer" target="_blank">@ankitmishralive</a>
      </p>
      <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
        
        <a class="ml-3 text-gray-100" href="https://twitter.com/ankitmishralive" target="_blank">
          <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
            <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
          </svg>
        </a>
      
        <a class="ml-3 text-gray-100"  href="https://www.linkedin.com/in/ankitmishralive" target="_blank">
          <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
            <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
            <circle cx="4" cy="4" r="2" stroke="none"></circle>
          </svg>
        </a>
      </span>
    </div>
  </footer>