
{%extends 'base.html' %}

{%block title%} Ankit Mishra|Post {%endblock%} 

{%block content%}

<div class="container-custom mt-8">
  <div class="flex flex-wrap">
    <div class="w-full sm:w-12/12 md:w-10/12">
      <h2 class="mb-4 text-2xl font-semibold">{{ readmore.title }}</h2>
      <p>From Category: {{ readmore.cat.title }}</p>  <br> 
      <div class="img-container">
        <img src="/media/{{ readmore.image }}" class="w-full h-auto max-h-250 object-cover max-w-full" alt="">
      </div>
      <br>
      <p>{{ readmore.content|safe }}</p>
    </div>

    <div class="w-full sm:w-12/12 md:w-2/12">
      {% for cat in cats %}
      <div class="card mx-2 mb-8" style="min-width: 200px;">
        <div class="img-container flex justify-center">
          <img src="/media/{{ cat.image }}" class="w-full h-auto max-w-full" alt="">
        </div>
        <div class="card-content text-center">
          <div class="card-title font-semibold">
            {{ cat.title }}
          </div>
          <p class="truncate">{{ cat.description }}</p>
          <div class="container mx-auto">
            <a href="/category/{{ cat.url }}" class="btn bg-black text-white px-3 rounded">VIEW</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>




{%endblock%}