
{%extends 'base.html' %}

{%block title%} Ankit Mishra|Post {%endblock%} 

{%block content%}

<div class="container-custom mt-8 flex justify-center">
  <div class="w-full sm:w-12/12 md:w-10/12">
    <h2 class="mb-4 text-2xl font-semibold text-center">{{ readmore.title }}</h2>
    <p class="text-center">From Category: {{ readmore.cat.title }}</p> <br>
    <div class="img-container">
      <img src="/media/{{ readmore.image }}" class="w-full h-auto max-h-250 object-cover max-w-full" alt="">
    </div>
    <br>
    <p class="text-center">{{ readmore.content|safe }}</p>
  </div>
</div>





{%endblock%}