<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <!-- Include Tailwind CSS CDN -->
    <link rel="icon" type="image/png" href="media/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        // Function to show the project description
        function showDescription(name,description) {


        //   const description = "Our web application is designed to help you identify and filter out spam SMS and emails from your inbox. The model has a Precision Rate of 100% and an Accuracy Score of 97%. We used Multinomial Naive Bayes for the algorithm and built and deployed the model on Flask. We're also sharing its public API for anyone interested in trying it out.";
      
         
          swal(name,description);

        }
 
      </script>
      
</head>
<body class="bg-white text-gray-800">

    <!-- Centered content -->
    <div class="pt-12 sm:pt-16 lg:pt-20">
        <div class="flex items-center justify-center min-h-screen">

        <!-- Resume container -->
        <div class="container mx-auto p-4">

            <!-- Header section -->
            <header class="text-center">
                <h2 class="text-4xl font-extrabold text-gray-800 sm:text-5xl lg:text-6xl">
                    Hi, I'm Ankit!
                </h2>
                <p class="mt-4 text-lg text-gray-800 md:leading-relaxed md:text-[23px] md:mt-8">
                    I'm a Machine Learning Engineer & a Full Stack Developer. I can help you in building and scaling software. 
                </p>
                <div class="mx-auto py-8 px-6 md:flex md:items-center md:justify-between lg:px-8">
                    <div class="flex justify-center space-x-6 md:order-2 mx-auto">
                        <a class="text-gray-800 hover:text-black" href="https://twitter.com/ankitmishralive">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                class="w-8 h-8"><!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                                <path fill="currentColor"
                                    d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z" />
                            </svg>

                        </a>
                        <a class="text-gray-800 hover:text-black" href="https://www.linkedin.com/in/ankitmishralive/">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                                class="w-8 h-8"><!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                                <path fill="currentColor"
                                    d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z" />
                            </svg>

                        </a>

                    </div>
            </header>


            
            <div class="max-w-5xl mx-auto px-4 lg:px-8 py-8 lg:py-12 bg-[#ecf3ff] bg-blue-100">
                <div class="">
                    <h2 class="text-2xl font-extrabold text-gray-800 text-center md:text-4xl ">
                        
                        Strap in, because this is where creativity takes the front seat
                    </h2>
                   
                </div>
            </div>
    


                    <!-- Education section -->
                    <section class="mt-8">
                        <h2 class="text-2xl font-bold">Education</h2>
                        <!-- Education item 1 -->
                        <div class="mt-4 bg-white p-4 shadow-md rounded-lg">
                            <h3 class="text-xl font-bold">Btech in Artificial Intelligence & Machine Learning</h3>
                            <p class="text-lg font-medium">Thakur College of Engineering & Technology | 2022 - 2025</p>
                        </div>
            
                        <!-- Education item 2 -->
                        <div class="mt-4 bg-white p-4 shadow-md rounded-lg">
                            <h3 class="text-xl font-bold">Diploma in Computer Science Engineering</h3>
                            <p class="text-lg font-medium">S.H Jondhale Polytechnic | 2019 - 2022</p>
                        </div>
                        <!-- Add more education items as needed -->
                    </section>
          

            <!-- Experience section -->
            <section class="mt-8">
                <h2 class="text-2xl font-bold">Experience</h2>
                <!-- Experience item 1 -->
                <div class="mt-4 bg-white p-4 shadow-md rounded-lg">
                    <h3 class="text-xl font-bold">Machine Learning Developer - TCET OpenSource</h3>
                    <p class="text-lg font-medium">Mumbai | Hybrid | July 2023 - July 2023</p>
                    <ul class="list-disc pl-8 mt-2">
                        <li>Worked with Huggingface pretrained models for review & comment sentiments.</li>
                        <li>Contributed & Solved the functionality issue of Resume Screener Web Application by creating a LinkedIn Profile Scrapper & Analyzer Function.</li>
                        <!-- Add more as needed -->
                    </ul>
                </div>

                <!-- Experience item 2 -->
                <div class="mt-4 bg-white p-4 shadow-md rounded-lg">
                    <h3 class="text-xl font-bold">Full Stack Developer - Verbient Technologies Private Limited</h3>
                    <p class="text-lg font-medium">Jaipur | Remote | Nov 2022 - Apr 2023</p>
                    <ul class="list-disc pl-8 mt-2">
                        <li>Worked on PHP & MySQL for building robust backend systems.</li>
                        <li>Developed interactive user interfaces using JavaScript, HTML, CSS & Bootstrap.</li>
                        <li>Enhanced user interactions and implemented business logic.</li>
                        <li>Implemented client-side validation and data manipulation.</li>      
                        <!-- Add more as needed -->
                    </ul>
                </div>
                <!-- Add more experience items as needed -->
                <div class="mt-4 bg-white p-4 shadow-md rounded-lg">
                    <h3 class="text-xl font-bold">Programming Instructor - Universe Simplified</h3>
                    <p class="text-lg font-medium">Mumbai | Remote | Nov 2022 - Mar 2023</p>
                    <ul class="list-disc pl-8 mt-2">
                        <p>I had the privilege of teaching Python programming in the USF STEM Fellowship program. <br>
                        It was a gratifying experience to provide all these enthusiastic learners with the knowledge and skills <br> necessary to excel in the field of programming.</p>
                        <!-- Add more as needed -->
                    </ul>
                </div>

                <div class="mt-4 bg-white p-4 shadow-md rounded-lg">
                    <h3 class="text-xl font-bold">Summer Internship - Ignitech</h3>
                    <p class="text-lg font-medium">Mumbai | Remote | Aug 2021 - Sep 2021</p>
                    <ul class="list-disc pl-8 mt-2">
                        <li>Developed a Gender classifier ML Model, utilizing a dataset of over 1 lakh rows, and implemented the Naive Bayes algorithm for accurate predictions.</li>
                        <li>Integrated the Gender classifier ML Model into a web application, leveraging HTML, Bootstrap, and Flask for the frontend and backend development.</li>
                        <!-- Add more as needed -->
                    </ul>
                </div>
            </section>

      
            <!-- Skills section -->
        
        </div>
    </div>



  <section class="text-gray-600 body-font bg-blue-100">


    
    <div class="container px-5 py-24 mx-auto">
                  <div class="flex flex-col text-center w-full mb-20">
                    <h2 class="text-2xl font-extrabold text-black text-center md:text-4xl ">
                        Projects & Research
                    </h2>
                <br>
                    <p class="lg:w-2/3 mx-auto leading-relaxed text-base text-gray-900">Life's Too Short Not to Laugh at Your Own Errors.</p>
                  </div>

                  <div class="flex flex-wrap -m-4">
                    <div class="lg:w-1/3 sm:w-1/2 w-full p-4">
                      <div class="flex relative">

        
                        <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/media/spamDetector.jpeg" >
                        <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
                          <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">SMS Email Spam Detector</h2>
                          <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Jul 2023 - Aug 2023</h1>
                          <p class="leading-relaxed"></p>
                        </div>
                      </div>
                      <button onclick="showDescription('SMS Email Spam Detector','Our web application is designed to help you identify and filter out spam SMS and emails from your inbox. The model has a Precision Rate of 100% and an Accuracy Score of 97%. We used Multinomial Naive Bayes for the algorithm and built and deployed the model on Flask. We are also sharing its public API for anyone interested in trying it out.')"
                       class="flex mx-auto mt-4 text-white bg-blue-500 border-0 py-2 px-8 focus:outline-none hover:bg-blue-600 rounded text-lg">Project Description</button>
                      <a href="https://sms-spamdetector.theankitmishra.live/">  <button class="flex mx-auto mt-4 text-white bg-blue-500 border-0 py-2 px-8 focus:outline-none hover:bg-blue-600 rounded text-lg">Visit SMS Spam Detector </button></a>
           
                </div>


                <div class="lg:w-1/3 sm:w-1/2  w-full p-4">
                  
                    <div class="flex relative">

                      <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/media/prepost.jpeg">
                      <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
                        <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">Prepost</h2>
                        <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Jun 2023 - Jul 2023</h1>
                        <p class="leading-relaxed"></p>
                      </div>
                    </div>
                    <button onclick="showDescription('Prepost' ,'Prepost will keep you updated with the latest updates of the Globe. It provides real-time updates, news of 30 different categories. Our app provides a seamless experience for accessing and downloading the most recent content from reliable sources. Whether you are interested in world news, technology updates, business insights, or entertainment news, we have got you covered. One of the key features of Prepost is the ability for users to download updates in post form or simply copy the text & its Public APIs. Check it out right now.')"

                     class="flex mx-auto mt-4 text-white bg-blue-500 border-0 py-2 px-8 focus:outline-none hover:bg-blue-600 rounded text-lg">Project Description</button>
                    <a href="https://www.prepost.neuralberg.com">  <button class="flex mx-auto mt-4 text-white bg-blue-500 border-0 py-2 px-8 focus:outline-none hover:bg-blue-600 rounded text-lg">Visit Prepost </button></a>
         
              </div>


            
              <div class="lg:w-1/3 sm:w-1/2 w-full p-4">
                <div class="flex relative">

                  <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/media/demographix.jpeg">
                  <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
                    <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">Demographix: India's Insights Hub</h2>
                    <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Jun 2023 - Jun 2023</h1>
                    <p class="leading-relaxed"></p>
                  </div>
                </div>
                <button onclick="showDescription('Demographix: India\'s Insights Hub', 'The web app offers a comprehensive collection of data insights through captivating visualization graphs. it provides an array of features, allowing users to explore various aspects of India\'s demographic landscape. Dive into statistics such as literacy rates, population distribution across different religions, access to the internet and electricity at the district and state levels, demographic data, age group population analysis, and sex ratio trends.')" 
                class="flex mx-auto mt-4 text-white bg-blue-500 border-0 py-3 px-12 focus:outline-none hover:bg-blue-600 rounded-lg text-lg">Project Description</button>
                <a href="https://demographix.theankitmishra.live/"><button class="flex mx-auto mt-4 text-white bg-blue-500 border-0 py-3 px-12 focus:outline-none hover:bg-blue-600 rounded-lg text-lg">Visit Demographix</button></a>
                
          </div>


          <div class="lg:w-1/3 sm:w-1/2 w-full p-4">
            <div class="flex relative">
        
              <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/media/viewer.jpeg" >
              <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
                <h class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1"> theankitmishra.live </h2>
                <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Jan 2023 - Jan 2023</h1>
                <p class="leading-relaxed"></p>
              </div>
            </div>
            <button onclick="showDescription('theankitmishra.live', 'A Personal Blogging Application where i will be covering all my knowledge Created by using Django, Tailwind CSS. the webapp will be Live Soon.')"
                class="flex mx-auto mt-4 text-white bg-blue-500 border-0 py-2 px-8 focus:outline-none hover:bg-blue-600 rounded text-lg">Project Description</button>
            <a href="https://word-warriors.surge.sh">  <button class="flex mx-auto mt-4 text-white bg-blue-500 border-0 py-2 px-8 focus:outline-none hover:bg-blue-600 rounded text-lg">Visit theankitmishra.live </button></a>
        
        </div>



          <div class="lg:w-1/3 sm:w-1/2 w-full p-4">
            <div class="flex relative">

              <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/media/jsonForm.png">
              <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
                <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">JSON Formatter</h2>
                <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Jul 2022 - Jul 2022</h1>
                <p class="leading-relaxed"></p>
              </div>
            </div>
            <button onclick="showDescription('JSON Formatter', 'JSON formatter is a free online tool designed to assist users in formatting and beautifying their JSON codes. You can restructure your JSON with this online JSON formatter. A few clicks on your device will be enough to format your JSON code with this online tool. It is developed using React & Chakra UI technology.')"

             class="flex mx-auto mt-4 text-white bg-blue-500 border-0 py-2 px-8 focus:outline-none hover:bg-blue-600 rounded text-lg">Project Description</button>
            <a href="https://json-formatter.surge.sh">  <button class="flex mx-auto mt-4 text-white bg-blue-500 border-0 py-2 px-8 focus:outline-none hover:bg-blue-600 rounded text-lg">Visit JSON Formatter</button></a>
 
      </div>


      
      <div class="lg:w-1/3 sm:w-1/2 w-full p-4">
        <div class="flex relative">

          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center"src="/media/txtForm.png">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
            <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">TXT Formatter</h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Aug 2022 - Aug 2022</h1>
            <p class="leading-relaxed"></p>
          </div>
        </div>
        <button onclick="showDescription('TXT Formatter', 'This tool aims to help you with tasks where text formatting is needed. It\'s not intended to replace a word processor, but the formatting tools available here can help speed up some jobs which might otherwise be long and repetitive. TXT-formatter can also quickly tell you how many words and characters are in your text & it will also tell you the average reading time anyone will take for reading your text. This tool is built using HTML, CSS, Bootstrap & ReactJs.')"
            class="flex mx-auto mt-4 text-white bg-blue-500 border-0 py-2 px-8 focus:outline-none hover:bg-blue-600 rounded text-lg">Project Description</button>
        <a href="https://json-formatter.surge.sh">  <button class="flex mx-auto mt-4 text-white bg-blue-500 border-0 py-2 px-8 focus:outline-none hover:bg-blue-600 rounded text-lg">Visit TXT Formatter</button></a>

  </div>



<div class="lg:w-1/3 sm:w-1/2 w-full p-4">
    <div class="flex relative">

      <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="https://dummyimage.com/600x360">
      <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
        <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">Chat Visualizer</h2>
        <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Dec 2021 - May 2022</h1>
        <p class="leading-relaxed"></p>
      </div>
    </div>
    <button onclick="showDescription('Chat Visualizer', ' ChatVisualizer is a statistical analysis tool for working on the chat files that can be exported. This tool is based on data analysis and processing. Users can use this tool for analyzing their chats. It is developed using Python technology like Pandas, Numpy, Matplotlib, Flask, Streamlit & as usual front-end technologies HTML, CSS, Bootstrap.')"
        class="flex mx-auto mt-4 text-white bg-blue-500 border-0 py-2 px-8 focus:outline-none hover:bg-blue-600 rounded text-lg">Project Description</button>
    <a href="/">  <button class="flex mx-auto mt-4 text-white bg-blue-500 border-0 py-2 px-8 focus:outline-none hover:bg-blue-600 rounded text-lg">Visit Chat Visualizer</button></a>

</div>


<div class="lg:w-1/3 sm:w-1/2 w-full p-4">
    <div class="flex relative">

      <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/media/STChat.jpg">
      <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
        <h class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1"> Stranger ChatRoom </h2>
        <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Apr 2022 - Apr 2022</h1>
        <p class="leading-relaxed"></p>
      </div>
    </div>
    <button onclick="showDescription('Stranger ChatRoom', ' Stranger Chatroom is an example of a chat server. This project is a little bit different because in this project there is no login, no sign up. The user just has to enter the legal room name, once the user entered & claimed the room name, then it will redirect the user to the chatroom. Where the user can chat & user will require only one thing to do next is the user has to share the URL link with the person they want to have a chat. Stranger Chatroom is developed using HTML, CSS, Bootstrap, JavaScript at the frontend & PHP & MySQL technology at the backend.')"
        class="flex mx-auto mt-4 text-white bg-blue-500 border-0 py-2 px-8 focus:outline-none hover:bg-blue-600 rounded text-lg">Project Description</button>
    <a href="https://github.com/Ankkkyyyy/STChatRoom">  <button class="flex mx-auto mt-4 text-white bg-blue-500 border-0 py-2 px-8 focus:outline-none hover:bg-blue-600 rounded text-lg">Visit Stranger ChatRoom </button></a>

</div>


<div class="lg:w-1/3 sm:w-1/2 w-full p-4">
    <div class="flex relative">

      <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/media/wordWarriors.png">
      <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
        <h class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1"> Word Warriors </h2>
        <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Oct 2021 - Oct 2021</h1>
        <p class="leading-relaxed"></p>
      </div>
    </div>
    <button onclick="showDescription('Word Warriors', 'The Word Warriors is a typing thrill gaming application made by me. It helped me cover all the general applied JavaScript fundamentals')"
        class="flex mx-auto mt-4 text-white bg-blue-500 border-0 py-2 px-8 focus:outline-none hover:bg-blue-600 rounded text-lg">Project Description</button>
    <a href="https://word-warriors.surge.sh">  <button class="flex mx-auto mt-4 text-white bg-blue-500 border-0 py-2 px-8 focus:outline-none hover:bg-blue-600 rounded text-lg">Visit Word Warriors </button></a>

</div>





              </section>
            
          
      

</div>





    {% include 'footer.html' %}